# Logs
Aditum Delta Source/logs
Aditum Delta Source/*.log
Aditum Delta Source/npm-debug.log*
Aditum Delta Source/yarn-debug.log*
Aditum Delta Source/yarn-error.log*
Aditum Delta Source/pnpm-debug.log*
Aditum Delta Source/lerna-debug.log*
Aditum Delta Source/node_modules
Aditum Delta Source/dist
Aditum Delta Source/dist-ssr
Aditum Delta Source/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?