label{
    font-weight: 700;
}
input{
    padding: .5rem 1rem;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: .25rem;
    background: inherit;
    color: inherit;
    caret-color: var(--secondary);
    width: max-content;
    box-sizing: border-box;
}
input[type="text"], input[type="email"]{
    width: 100%;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    opacity: 0;
}
input:hover, textarea:hover, select:hover{
    background: var(--surface-v);
}
input:focus, textarea:focus, select:focus{
    border-color: var(--secondary);
    outline: 3px solid var(--secondary-cont);
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
    -webkit-text-fill-color: var(--on-bg);
}

.input--error{
    color: var(--error);
    border-color: var(--error);
    caret-color: var(--error);
}
.input--error:focus{
    outline: 3px solid var(--error-cont);
    border-color: var(--error);
}
.input--error::placeholder{
    color: var(--error);
}

input:disabled, textarea:disabled{
    background: var(--outline);
    color: var(--surface-v);
    border-color: var(--on-surf-v);
    cursor: not-allowed;
}
input:disabled::placeholder, textarea:disabled::placeholder{
    color: var(--surface-v);
}
textarea{
    padding: .5rem 1rem;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: .25rem;
    background: inherit;
    color: inherit;
    caret-color: var(--secondary);
    resize: none;
    width: 100%;
}
input[type="date"],input[type="datetime-local"],input[type="week"],input[type="month"],input[type="time"]{
    cursor: text;
    position: relative;
}
body.dark input[type="color"],input[type="date"],input[type="datetime-local"],input[type="week"],input[type="month"],input[type="time"]{
    color-scheme: dark;
}
input::-webkit-calendar-picker-indicator{
    position: absolute;
    right: .9rem;
    opacity: 0;
    cursor: pointer;
}
input[type="date"]::after, input[type="datetime-local"]::after,input[type="week"]::after{
    font-family: 'Material Icons';
    content: "calendar_today";
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}
input[type="month"]::after{
    font-family: 'Material Icons';
    content: "calendar_month";
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}
input[type="time"]::after{
    font-family: 'Material Icons';
    content: "access_time";
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}
input[type="date"]:disabled::after{
    cursor: not-allowed;
}

input[type="file"]{
    cursor: pointer;
    padding: 0;
    padding-right: .5rem;
}
input[type="file"]:hover:not(.input--error){
    background: var(--outline);
    color: var(--surface-v);
}
input::-webkit-file-upload-button{
    background-color: var(--surface-v);
    color: var(--on-surf-v);
    border: none;
    border-right: 1px solid var(--outline);
    padding: .5rem 1rem;
    cursor: pointer;
}
input:hover:not(.input--error, input:disabled)::-webkit-file-upload-button{
    background-color: var(--on-surf-v);
    color: var(--surface-v);
}
input:focus:not(.input--error, input:disabled)::-webkit-file-upload-button, input:not(.input--error, input:disabled)::-webkit-file-upload-button:active{
    background: var(--secondary);
    color: var(--on-secondary);
    border-color: var(--secondary);
}
.input--error::-webkit-file-upload-button{
    background: var(--error);
    color: var(--on-error);
}
input[type="file"].input--error{
    outline: 3px solid var(--error-cont);
}
input[type="file"]:disabled, input:disabled::-webkit-file-upload-button{
    cursor: not-allowed;
}
input[type="range"]{
    padding: 0;
}
input[type="color"]{
    height: 2.5rem;
    padding: .25rem .5rem;
    width: 20%;
}

.file__container{
    display: flex;
    align-items: center;
    background: inherit;
    border: 1px solid var(--outline);
    border-radius: .25rem;
}
.file__container label{
    display: flex;
    align-items: center;
}
.file__container label span{
    background: var(--surface-v);
    padding: .5rem 1rem;
    border-radius: .25rem 0 0 .25rem;
    border-right: 1px solid var(--outline);
    cursor: pointer;
}
.file__container label small{
    padding: .5rem;
    align-self: self-end;
    cursor: pointer;
}
.file__container:active{
    border-color: var(--secondary);
    outline: 3px solid var(--secondary-cont);
}
.file__container:active label span{
    background: var(--secondary);
    color: var(--on-secondary);
    border-color: var(--secondary);
}
.file__container:hover:not(:active) label span{
    background-color: var(--on-surf-v);
    color: var(--surface-v);
}

.file__container.input--error {
    border-color: var(--error);
    outline: var(--error-cont);
}
.file__container.input--error label span{
    background: var(--error-cont);
}
.file__container.input--error:hover label span{
    background: var(--error);
    color: var(--on-error);
}
.file__container input[type="file"]{
    display: none;
}

.file__container:has(:disabled){
    outline: none;
    border-color: var(--on-surf-v);
}
.file__container:has(:disabled) label span{
    background: var(--outline);
    color: var(--surface-v);
    cursor: not-allowed;
}
.file__container:has(:disabled):hover label span{
    background-color: var(--outline);
}
.file__container:has(:disabled) label small{
    cursor: not-allowed;
}