.topbar {
    background: var(--bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    transition: all 200ms ease-in;
}

.topbar i:hover {
    background: var(--primary-cont);
    outline-style: solid;
}

.topbar__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#openside::before {
    content: "\e5d2";
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: 1.5rem;
}

.logo__title {
    line-height: normal;
}

.logo__title a {
    text-decoration: none;
    color: inherit;
}

.logo__title b {
    font-weight: 700;
}

.topbar__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.options {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: .5rem 1.5rem 0 0;
    background: var(--surface-v);
    width: max-content;
    border: 2px solid var(--outline);
    border-radius: .5rem;
    transition: all 300ms ease;
}

.options__head {
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--on-primary);
    padding: .5rem;
    border-radius: .4rem .4rem 0 0;
}

.options__head i:hover {
    background: var(--on-primary-cont);
    outline: 1px solid var(--on-primary);
}

.options__conf {
    color: var(--on-surf-v);
}

.conf__item {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-bottom: 2px solid var(--outline);
}

.conf__item:last-child {
    border: none;
}

#theme:hover {
    outline: 1px solid var(--on-surf-v);
}

.options--shown {
    display: block;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .topbar {
        padding: 1rem .5rem;
    }

    .logo__title {
        font-size: 1.17rem;
    }

    .options {
        margin: .5rem;
    }

    .conf__item {
        padding: .5rem;
    }

    .topbar__nav {
        gap: .5rem;
    }
}

.main__container {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    color: var(--on-bg);
    background: var(--bg);
    box-sizing: border-box;
    transition: all 200ms ease-in;

}

.main_container:has(section.sign--in-up__card) {
    padding: 0;
    justify-content: flex-start;
}

.main_container::-webkit-scrollbar,
.sidebar_content::-webkit-scrollbar {
    width: .5rem;
}

.main_container::-webkit-scrollbar-track,
.sidebar_content::-webkit-scrollbar-track {
    background: var(--surface-v);
    border-radius: .5rem;
}

.main_container::-webkit-scrollbar-thumb,
.sidebar_content::-webkit-scrollbar-thumb {
    background: var(--primary-cont);
    border-radius: .25rem;
    box-shadow: inset 0 0 2px var(--on-surf-v);
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.welcome__img {
    width: 70px;
}

.welcome__gretting {
    font-weight: 300;
}

.resume {
    margin-top: .5rem;
}

.resume__title {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    font-weight: 400;
    margin-bottom: 1rem;
}

.inscripciones {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.inscripciones .btn--round {
    padding: 1rem;
    flex: 0 1 200px;
    order: -1;
}

.inscripcion {
    display: flex;
    flex: 0 1 200px;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-cont);
    color: var(--on-secondary-cont);
    border-radius: .5rem;
    padding: 1rem;
    height: 90px;
    gap: .5rem;
}

.inscripcion__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inscripcion__nombre {
    font-weight: 700;
}

.inscripcion__icon {
    font-size: 3.5rem;
    cursor: default;
}

.accesos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 150px;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: all 300ms ease-in;
}

.hora {
    font-weight: 300;
}

.lugar {
    text-decoration: underline;
    text-align: center;
}

.estado {
    font-size: 1.125rem;
    font-weight: 700;
}

.estado--falta {
    color: var(--error);
}

.estado--retardo {
    color: var(--alert);
}

.estado--ok {
    color: var(--ok);
}

.acceso:hover {
    background: var(--surface-v);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.proximo {
    outline: 4px solid var(--primary-cont);
}

.asignados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: .5rem;
}

.asignado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid var(--outline);
    border-radius: 1rem;
    flex: 0 1 150px;
}

.asignado__perfil {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    font-weight: 700;
    border-bottom: 4px solid var(--outline);
}

.asignado__perfil img {
    width: 3rem;
    border-radius: 100%;
    border: 4px solid var(--primary-cont);
}

.asignado__acceso {
    padding: .5rem;
}

.asig__estado {
    padding: .5rem;
    text-align: center;
    border-radius: 0 0 .825rem .825rem;
    font-weight: 700;
}

.asig--ok {
    background: var(--ok-cont);
    color: var(--on-ok-cont);
}

.asig--retardo {
    background: var(--alert-cont);
    color: var(--on-alert-cont);
}

.asig--falta {
    background: var(--error-cont);
    color: var(--on-error-cont);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .main__container {
        padding: .5rem;
    }

    .main_container::-webkit-scrollbar,
    .sidebar_content::-webkit-scrollbar {
        width: .125rem;
    }

    .inscripciones {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: .5rem;
    }

    .inscripcion {
        scroll-snap-align: center;
    }

    .inscripcion__info {
        width: max-content;
    }

    .inscripciones .btn--round {
        order: 1;
        scroll-snap-align: center;
    }

    .asignados {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: .5rem;
    }
}

.sidebar {
    background: var(--bg);
    transition: all 400ms ease-out;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -50vw;
    height: 100%;
    width: max-content;
    box-shadow: 8px 0px 15px rgba(0, 0, 0, 0.4);
}

.sidebar--shown {
    left: 0;
    transition: all 400ms ease-in;
}

.sidebar__head {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    background: var(--primary);
    border-bottom: 3px solid var(--primary);
    color: var(--on-primary);
}

.sidebar__head i:hover {
    background: var(--on-primary-cont);
    outline-style: solid;
}

.sidebar__head h2 {
    line-height: normal;
}

.sidebar__content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 .5rem .5rem .5rem;
}

.sidebar__section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
    border-bottom: 2px solid var(--primary);
    transition: all 300ms ease-in;
}

.logo__container {
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0;
}

.sidebar__logo {
    width: 6rem;
}

.profile__img {
    align-self: center;
    width: 30%;
    border-radius: 100%;
    border: 4px inset var(--primary-cont);
}

.profile__name {
    text-align: center;
    font-weight: 300;
}

.profile__email {
    text-align: center;
}

.nav__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    text-decoration: none;
    border-radius: .5rem;
    padding-right: .125rem;
    transition: all 300ms ease-in;
}

.nav__option:not(.nav--active):hover {
    background: var(--primary-cont);
    padding-left: .5rem;
}

.nav--active {
    padding-left: .5rem;
    background: var(--on-primary-cont);
    color: var(--primary-cont);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .sidebar {
        left: -100vw;
    }

    .sidebar--shown {
        left: 0;
    }

    .sidebar__head {
        padding: 1rem .5rem;
    }

    .sidebar__head h2 {
        font-size: 1.17rem;
    }
}

.bottombar {
    display: none;
    padding: .5rem;
    color: var(--primary);
    border-top: 3px solid var(--primary);
}

.bottombar__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    border-bottom: 2px solid var(--bg);
    transition: all 200ms linear;
}

.nav__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: .8rem;
}

.nav__item:not(.item--active):hover i {
    background: var(--primary-cont);
    outline: 1px solid var(--primary);
}

li.item--active {
    border-bottom: 2px solid var(--primary);
    border-radius: .125rem;
}

li.item--active i {
    background: var(--on-primary-cont);
    color: var(--primary-cont);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .bottombar {
        display: block;
    }
}