.logo--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--surface-v);
    flex: 1 1 250px;
}

.logo--vertical a {
    text-decoration: none;
    text-align: center;
    width: 25%;
}

.logo--vertical img {
    width: 100%;
}

.logo--vertical h2 {
    color: var(--primary);
}

.logo--vertical b {
    font-weight: 700;
}

.logo--vertical small {
    color: var(--outline);
    font-weight: 700;
}

.logo__message {
    margin: 1rem;
    text-align: center;
}

.sign--in-up__card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sign--in-up__title {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.sign--in-up__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex: 1 1 250px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
}

.sign--in-up_form_field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.sign--in-up_form_field input {
    width: 100%;
}

.sign--in-up_form_field small a {
    color: var(--on-tertiary-cont);
    font-weight: 700;
}

.sign--in-up__form button {
    padding: 1rem;
}

.register__enlace a {
    color: var(--on-primary-cont);
    font-weight: 700;
}

.sign--in-up__footer {
    background: var(--primary-cont);
    color: var(--on-primary-cont);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.sign--in-up_form_field--row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sign--in-up_form_field--row label {
    display: flex;
    align-items: center;
}



@media screen and (min-width: 0px) and (max-width: 480px) {
    .topbar {
        display: none;
    }

    .logo--vertical {
        background: var(--bg);
    }

    .sign--in-up__form {
        justify-content: flex-start;
        box-shadow: none;
        padding: .5rem;
    }

    .logo__message {
        display: none;
    }

    .sign--in-up__form button {
        padding: .5rem;
    }
}