@import url(./components/btn.css);
@import url(./components/input.css);
:root{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: default;
}
::selection{
    background: var(--tertiary-cont);
    color: var(--tertiary)
}

i{
    outline-width: 1px;
    cursor: pointer;
    border-radius: .25rem;
    transition: all 100ms linear;
}
h1 { font-size: 2rem; } 
h2 { font-size: 1.5rem; } 
h3 { font-size: 1.25rem; } 
h5 { font-size: .83rem; } 
h6 { font-size: .75rem; }
b{font-weight: 700;}
small{ font-size: .80rem; }
html{
    height: 100%;
}
.container{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
body{
    color: var(--on-bg);
    background: var(--bg);
    transition: all 200ms ease-in;
    --primary: #4355b9;
    --on-primary: #FFFFFF;
    --primary-cont: #dee0ff;
    --on-primary-cont: #00105c;

    --secondary: #006877;
    --on-secondary: #FFFFFF;
    --secondary-cont: #a2eeff;
    --on-secondary-cont: #001f25;

    --tertiary: #6c5e00;
    --tertiary-cont: #fbe360;
    --on-tertiary-cont: #211c00;

    --bg: #fefbff;
    --on-bg: #1b1b1f;

    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-cont: #ffdad6;
    --on-error-cont: #410002;

    --ok: #426915;
    --ok-cont: #c2f18e;
    --on-ok-cont: #0f2000;

    --alert: #9f4200;
    --alert-cont: #ffdbcb;
    --on-alert-cont: #341100;

    --outline: #767680;
    --surface-v: #F5EEFA;
    --on-surf-v: #46464f;
}
body.dark{
    background: var(--bg);
    color: var(--on-bg);
    transition: all 200ms ease-in;
    --primary: #bac3ff;
    --on-primary: #08218a;
    --primary-cont: #293ca0;
    --on-primary-cont: #dee0ff;

    --secondary: #51d7ef;
    --on-secondary: #00363e;
    --secondary-cont: #004e5a;
    --on-secondary-cont: #a2eeff;

    --tertiary: #ddc747;
    --tertiary-cont: #514700;
    --on-tertiary-cont: #fbe360;

    --bg: #1b1b1f;
    --on-bg: #e4e1e6;

    --error: #ffb4ab;
    --on-error: #690005;
    --error-cont: #93000a;
    --on-error-cont: #ffdad6;

    --ok: #a7d475;
    --on-ok: #1d3700;
    --ok-cont: #2d5000;
    --on-ok-cont: #c2f18e;

    --alert: #ffb692;
    --on-alert: #552000;
    --alert-cont: #793000;
    --on-alert-cont: #ffdbcb;

    --outline: #90909a;
    --surface-v: #46464f;
    --on-surf-v: #c7c5d0;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .container{
        display: block;
    }
    ::selection{
        background: none;
        color: none;
    }
}